#popup {
    display: none;
    position: fixed;
    width:50%;
    height:50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    background-image: url("wallpaper.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: black;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
#name{
    display:block;
    position: fixed;
    top:40%;
    left:50%;
    text-align: center;
    transform: translate(-50%, -50%); 
    width: 300px; /* Increase the width */
    height: 60px; /* Increase the height */
    font-size: 18px; 
}
  #start-game {
    display:block;
    position:fixed;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    
    width: 150px; /* Increase the width */
    height: 60px; /* Increase the height */
    font-size: 24px; /* Increase the font size */
  }

body{
    min-height:100vh;
    min-width:100vw;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: grey;
   
}

h1{
    text-align: center;
    position: absolute;
    margin: auto;
    top: 0%;
}

h2{
    text-align: center;
    position: relative;
    text-decoration: underline;
    
}


#main{
    height:100vh;   
    width:50vh;
    background-image: url("Roadphoto.png");
    background-size:contain;
    z-index: 1;
    /* animation: background-scrolling-reverse 1s infinite; */
   
}

/* @keyframes background-scrolling-reverse {
    from {
        transform: translateY(100px);
      }
      to {
        transform: translateY(4030px);
      }
} */

#blue-car{
    background-image: url("BlueCar.png");
    background-size: 95%;
    height: 105px;
    width: 75px;
    text-align: center;
    position:relative;
    animation: move 2s linear infinite;
    margin:auto;
    top:0px;
    left:-180px;

}


#green-car{
    background-image: url("GreenCar.png");
    background-size: 95%;
    height: 135px;
    width: 75px;
    text-align: center;
    position: relative;
    animation: movegreen 3s linear infinite;
    margin:auto;
    top:0px;
    left:-60px;
    transform: rotate(180deg)

    

}

#pink-car{
    background-image: url("PinkCar.png");
    background-size: 95%;
    height: 135px;
    width: 75px;
    text-align: center;
    position: relative;
    animation: movepink 2s linear infinite;
    margin:auto;
    top:0px;
    left:60px; 
    transform: rotate(180deg)

}

#yellow-car{
    background-image: url("YellowCar.png");
    background-size: 95%;
    height: 135px;
    width: 75px;
    text-align: center;
    position: relative;
    animation: moveyellow 3s linear infinite;
    margin:auto;
    top:auto;
    left:180px; 
    transform: rotate(180deg);

}



@keyframes move {
    0%{
        top: 0px;
    }
    100%{
        top:1400px;
    }
    
}

@keyframes movegreen {
    0%{
        top: -100px;
    }
    100%{
        top:1200px;
    }
    
}

@keyframes movepink {
    0%{
        top: -200px;
    }
    100%{
        top:1000px;
    }
    
}



@keyframes moveyellow {
    0%{
        top: -300px;
    }
    100%{
        top:900px;
    }
    
}



#red-car{
    background-image: url("RedCar.png");
    background-size: 95%;
    height: 135px;
    width: 75px;
    margin:auto;
    position:relative;
    
 
    bottom:-800px;
 

}


#mainroad {
    height:100%;
    width: 100%;
    background-color: grey;
    
}

#score {
    background-color: magenta;
    height: 40px;
    width: 150px;
    text-align: center;
    border: rgb(255, 0, 157) solid;
    text-decoration-color: black;
    margin:auto;
    position: relative;
    left:63%;
    top:-10.75%;
    font-family: cursive;
    font-size: 25px;
    border-radius: 25px;

   
}

#high-scores {
    background-color: rgb(1, 232, 248);
    height: 400px;
    width: 150px;
    text-align: center;
    border: blue solid;
    border-radius: 25px;
    text-decoration-color: black;
    margin:auto;
    position: relative;
    left:63%;
    top:-10%;
    font-family: cursive;
    font-size: medium;
    
}

#keepscore{
    font-size: 20px;
    font-weight: bold;
   
}

